# This is a placeholder for your personal puzzle input
# Copy this file to input.txt and paste your puzzle input from adventofcode.com
# The input.txt file is gitignored and won't be committed

# Example format (this will work with the demo solution):
1000
2000
3000

4000

5000
6000

7000
8000
9000

10000


